node_modules
npm-debug.log
.DS_Store
.git
.gitignore
.github
Dockerfile
.dockerignore
dist
build

.env
.env.local
.env.*.local
.env.production
.env.development

coverage
.nyc_output

*.log
logs/
*.tmp
*.swp

uploads
tests
